body{
    background-color: rgb(183, 240, 237);
    color:rgb(62, 99, 129);
}
h1{
font-family:Comic;
font-style:italic;
font-weight:bold;
}
h4{
    color:peachpuff;
}
#camera{
width:500px;
height:400px;
border-color:bisque;
}
img{
width:300px;
border-radius:6px;
padding:10px;
box-shadow:5px 5px 5px plum;
}
.column{
display:inline;
padding:2px;
}
.copy_right_footer{
position:fixed;
bottom:0;
width:100%;
text-align:center;

}